$color-black: #000;
$color-white: #fff;
$color-grey: #E6E6E6;
$color-light-gray: #F6F6FA;
$color-dark-grey: #d4d4d4;
$color-red: #FF3B30;
$color-green: #38C450;
$color-green-win-label: #38C550;
$color-card-purple: #7A55D9;
$color-card-orange: #FF7D02;
$color-card-red: #EA0029;