.another-forecasts {
    margin-top: 40px;
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-auto-columns: 280px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        overflow-x: auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
}