.another-forecasts {
    margin-top: 40px;
    &__title {
        font-size: 30px;
        font-weight: 700;
    }
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: auto;
        grid-auto-columns: 280px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        overflow-x: auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
}