.divider {
    display: block;
    height: 1px;
    background-color: $color-grey;
    &_header {
        width: 100vw;
        position: relative;
        z-index: 10;
    }
    &_short {
        margin-top: 6px;
        width: 100%;
    }
    &_dark {
        background-color: $color-dark-grey;
    }
    &_solid {
        height: 2px;
    }
}