.face-to-face {
    margin-top: 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 40px auto;
        grid-row-gap: 20px;
        overflow-x: auto;
    }
    &__title {
        margin-bottom: 20px;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    &__team {
        margin-right: 25px;
        &:last-child {
            margin-right: 0px;
        }
        &-header {
            padding-bottom: 11px;
            display: grid;
            grid-template-columns: 264px 105px 45px;
            grid-template-rows: auto;
            border-bottom: 1px solid $color-grey;
            width: fit-content;
            align-items: center;
        }
        &-name {
            display: flex;
            align-items: center;
        }
        &-logo {
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border: 1px solid $color-grey;
            border-radius: 100%;
            picture {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &-period, &-event {
            font-size: 16px;
            font-weight: 400;
        }
        &-footer {
            margin-top: 25px;
            display: grid;
            grid-template-columns: repeat(4, 60px);
            grid-template-rows: 130px;
            grid-column-gap: 48px;
        }
    }
    &__match {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-opponent {
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid $color-light-gray;
                border-radius: 100%;
                position: relative;
                picture {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &_winner {
                    &::after {
                        content: 'W';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 24px;
                        width: 24px;
                        font-size: 16px;
                        font-weight: 700;
                        color: $color-white;
                        background-color: $color-green-win-label;
                        border-radius: 100%;
                        position: absolute;
                        top: -6px;
                        right: -10px;
                    }
                }
            }
            &-name {
                margin-top: 15px;
                font-size: 16px;
                font-weight: 700;
            }
        }
        &-result {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            opacity: 40%;
        }
    }
    &__player {
        margin-top: 18px;
        display: grid;
        grid-template-columns: 64px 200px 105px 35px;
        grid-template-rows: 64px;
        width: fit-content;
        border-bottom: 1px solid $color-grey;
        &-photo {
            width: 64px;
            height: 64px;
            picture {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-info {
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        &-nickname {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            &_flag {
                &_dk, &_ua, &_ru, &_by {
                    &::after {
                        content: '';
                        display: inline-block;
                        height: 15px;
                        width: 14px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 2px;
                        right: -18px;
                    }
                }
                &_dk {
                    &:after {
                        background-image: url(../icons/flags/dk.png);
                    }
                }
                &_ua {
                    &::after {
                        background-image: url(../icons/flags/ua.png);
                    }
                }
                &_ru {
                    &::after {
                        background-image: url(../icons/flags/ru.png);
                    }
                }
                &_by {
                    &::after {
                        background-image: url(../icons/flags/by.png);
                    }
                }
            } 
        }
        &-name {
            font-size: 16px;
            font-weight: 400;
        }
        &-period {
            &-coefficient {
                padding-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-event {
            &-coefficient {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}