.forecast {
    padding-top: 10px;
    &-crumbs {
        list-style-type: none;
        &__item {
            display: none;
            picture {
                margin-right: 5px;
                img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
            }
            a {
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
                color: $color-black;
            }
            &:nth-last-child(2) {
                display: block;
            }
        }
    }
    &-header {
        padding-top: 72px;
        &__label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 138px;
            height: 21px;
            font-size: 12px;
            border: 1px solid;
            border-radius: 10px;
        }
        &__title {
            margin-top: 11px;
        }
        &__date {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            time {
                font-size: 18px;
                font-weight: 400;
            }
        }
        &__share {
            width: 25px;
            height: 28px;
            picture {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &-desktop {
                display: none;
            }
        }
    }
    &-info {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 46px 140px 40px;
        grid-row-gap: 30px;
        &_card {
            padding-top: unset;
            grid-template-rows: 180px 90px 112px;
            grid-row-gap: unset;
            border: 1px solid $color-grey;
        }
        &__header {
            grid-row: 1 / 2;
            grid-column: 1 / 4;
            justify-self: center;
            &_card {
                grid-row: 2 / 3;
                justify-self: unset;
                padding: 20px 20px;
            }
        }
        &__time {
            &-wrapper {
                display: flex;
                flex-direction: column;
            }
        }
        &__title {
            text-align: center;
            &_card {
                text-align: left;
                color: $color-black;
                text-decoration: none;
            }
        }
        &__date {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }
        &__betting-company {
            grid-row: 2/3;
            align-self: flex-end;
            &_card {
                width: 80px;
                justify-self: center;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        &__scoreboard {
            grid-row: 2 / 3;
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            &_card {
                grid-row: 1 / 2;
                color: $color-white;
                padding: 0px 20px;
            }
            &_bg {
                &_purple {
                    background-color: $color-card-purple;
                }
                &_orange {
                    background-color: $color-card-orange;
                }
                &_red {
                    background-color: $color-card-red;
                }
            }
        }
        &__winner {
            grid-row: 3/4;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            span {
                display: block;
                height: 4px;
                border-radius: 4px;
                &:first-child {
                    width: 20px;
                    background-color: $color-red;
                    margin-right: 10px;
                }
                &:last-child {
                    width: 180px;
                    background-color: $color-green;
                }
            }
        }
        &__footer {
            grid-row: 3 / 4;
            grid-column: 1 / 4;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            &_card {
                padding: 0px 20px 20px 20px;
                align-self: flex-end;
            }
            span {
                display: block;
                height: 4px;
                border-radius: 4px;
                &:first-child {
                    width: 20px;
                    background-color: $color-red;
                    margin-right: 10px;
                }
                &:last-child {
                    width: 180px;
                    background-color: $color-green;
                }
            }
            &-author {
                display: flex;
                align-items: center;
                width: 100%;
                height: 48px;
                &-photo {
                    margin-right: 10px;
                    width: 48px;
                    height: 48px;
                    picture {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }
                    }
                }
                &-name {
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-black;
                    text-decoration: none;
                }
            }
        }
        &__rate-ratio {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        &__team {
            display: flex;
            flex-direction: column;
            align-items: center;
            &_card {
                justify-content: center;
            }
            &-country {
                display: none;
                margin-top: 5px;
                font-size: 16px;
                opacity: 40%;
            }
            &-betting {
                display: none;
                margin-top: 5px;
                &-item {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    &_color {
                        &_red {
                            background-color: $color-red;
                        }
                        &_green {
                            background-color: $color-green;
                        }
                    }
                }
            }
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                border: 1px solid $color-light-gray;
                border-radius: 100%;
                position: relative;
                picture {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &_card {
                    background-color: $color-white;
                }
                &_winner {
                    &::after {
                        content: 'W';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
                        font-size: 18px;
                        font-weight: 700;
                        color: $color-white;
                        background-color: $color-green-win-label;
                        border-radius: 100%;
                        position: absolute;
                        top: -10px;
                        right: -5px;
                    }
                }
            }
            &-name {
                margin-top: 18px;
                font-size: 16px;
                font-weight: 700;
                color: $color-black;
                text-decoration: none;
            }
            &-coefficient {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 12px;
                font-size: 16px;
                font-weight: 700;
                width: 62px;
                height: 32px;
                background-color: $color-black;
                color: $color-white;
                &_card {
                    color: $color-black;
                    background-color: $color-white;
                }
            }
        }
        &__time {
            padding: 20px 0px 10px 0px;
            text-align: center;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50px 40px 30px;
            grid-row-gap: 30px;
            &_card {
                justify-content: space-evenly;
                padding-bottom: 18px;
                grid-template-rows: 50px 40px;
            }
            &-wrapper {
                grid-row: 1/2;
            }
            time {
                &:first-child {
                    font-size: 14px;
                    font-weight: 400;
                }
                &:last-child {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }
    &-partners {
        display: none;
        margin-top: 20px;
        width: 40%;
        max-width: 400px;
        border: 1px solid $color-grey;
        &__title {
            margin-top: 20px;
            text-align: center;
        }
        &__content {
            padding: 0px 10px;
        }
        &__partner {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            border-top: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
            &:first-child {
                border-top: none;
            }
            &-logo {
                width: 80px;
                picture {
                    width: 100%;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
            &-bonus {
                padding-left: 10px;
                min-width: 70px;
                font-size: 16px;
                text-align: left;
                span {
                    font-weight: 700;
                }
            }
            &-code {
                padding: 0px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border: 1px dashed $color-grey;
            }
        }
    }
    &-event {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 60px;
        overflow-x: auto;
        white-space: nowrap;
        border-top: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        &__name, &__prize, &__participants {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px 24px;
            height: 56px;
            a {
                text-decoration: none;
                color: $color-black;
            }
        }
        &__name {
            margin: 0px 12px 0px 6px;
        }
        &__title {
            font-size: 18px;
            font-weight: 700;
        }
        &__descr {
            font-size: 16px;
            font-weight: 400;
        }
        li {
            position: relative;
            &:nth-child(2) {
                &::after, &::before {
                    content: '';
                    display: block;
                    height: 60%;
                    width: 1px;
                    background-color: $color-grey;
                    position: absolute;
                    right: -24px;
                }
                &::before {
                    left: -24px;
                }
            }
        }
    }
}