.news {
    margin-top: 40px;
    padding: 20px 0px;
    background-color: $color-black;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &-slider {
        overflow: hidden;
        &__buttons {
            display: none;
        }
        &__prev {
            svg {
                margin-right: 10px;
                transform: rotate(180deg);
            }
        }
        &__prev, &__next {
            transition: 0.3s all;
            &:active {
                transform: scale(0.9);
            }
        }
        &__wrapper {
            transition: 0.7s all;
            display: grid;
            grid-template-columns: repeat(3, 250px);
            grid-template-rows: auto;
            grid-auto-flow: row;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
    }
    &-card {
        margin-right: 20px;
        margin-top: 20px;
        width: 250px;
        height: 280px;
        background-color: $color-white;
        position: relative;
        &:last-child {
            margin-right: 0px;
        }
        &__lable {
            margin: 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 20px;
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
            border-radius: 20px;
            position: relative;
            &_bg {
                &_white {
                    background-color: $color-white;
                    color: $color-black;
                    position: absolute;
                }
                &_black {
                    background-color: $color-black;
                    color: $color-white;
                }
            }
        }
        &__img {
            width: 100%;
            picture {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: fill;
                }
            }
        }
        &__title {
            margin-top: 22px;
            padding: 0px 20px;
            max-height: 130px;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $color-black;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
    }
}